# hostname of the switch (read from the system)
switch fooswitch

#switch-nvapi-host switchHost
#switch-nvapi-login switchLogin
#switch-nvapi-password switchPassword

# List of collectors
collector fooCollector {
	collector-ip-address 192.168.1.205
	collector-hostname 192.168.1.205
	transport udp
	transport-port 4739
	dscp 0
}
