#### hostname of the switch
# default: NULL (read from the system)
#
# uncomment and edit if running nvipfix from an external server
# switch leaf-1
####

#### Target switch credentials
# default: NULL (local credentials)
#
# uncomment and edit if:
# 1. running nvipfix from an external server
# OR
# 2. running nvipfix from the switch and either:
# 2.A using different user credentials than current unix user
# 2.B connecting to a different switch of the same fabric
#

#switch-nvapi-host switchHost
#switch-nvapi-login switchLogin
#switch-nvapi-password switchPassword

####

#### Export Interval
# default: 60 seconds
# defines the polling frequency for connection statistics
#
#
export-interval 00:01:00	# hh:mm:ss
#
####

#### List of collectors
#
# defines the IPFIX collectors in terms of:
#   collector-ip-address: IP address
#   collector-hostname: hostname
#   transport: IPFIX transport protocol (default: udp)
#   transport-port: IPFIX protocol destination port (default: 4739)
#   dscp: DSCP value for IPFIX packets (default 0)
#
# PLEASE EDIT THE FOLLOWING EXAMPLES
#
# 1st collector example:
collector Scrutinizer {
	collector-ip-address 192.168.1.205
	collector-hostname 192.168.1.205
	transport udp
	transport-port 4739
	dscp 1
}
#
# 2nd collector example:
collector NTOP-1 {
    collector-ip-address 192.168.1.206
    collector-hostname 192.168.1.206
    transport tcp
    transport-port 5556
}
#
#
####
